:root {
  --light-blue: #9ECCCF;
  --blue: #2b2cc3;
  --dark-blue: #223B5C;
}

body {
  margin: 0 0 0 0px;
  padding: 0;
  text-align: auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero.background img {
  width: 2px;
  margin: 10px 0;
  background:rgb(36, 6, 36);


}

#About-Me,
#Work,
#Contact-Me {
  margin: 0 0 0 40px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  font:Roboto;
  font-size: 2vw;
}


header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color:rgb(53, 3, 53);
}


header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  display: flex;
  color: var(--light-blue);


}

header a {
  text-decoration: none;
  color: var(--light-blue);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

p {
  display: inline;
}

h2 {
  text-align: right;
  color: white;
  background-color: var(var(--light-blue))
}

#About-Me {
  display: flexbox;
  align-items: left;
}

Bio {
  margin: 200px;
  color: black;
  font-size: 16px;
  text-align: left;
}

.container {
  max-width: 940px;
  margin-left: 100px;
  display: grid;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: (100px);
  grid-gap: 10px;
  font-size: 2vw;
  


}

.sidebar {
  float: right;
  width: 25%;
  display: grid;

}

.grid-item1 {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
  color: var(--blue);
  position: relative;
}

.grid-item1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
}

.grid-item2 {
  grid-column: 7 / 12;
  grid-row: 1 / 2;
  color: var(--blue);
  position: relative
}

.grid-item2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
}

.grid-item3 {
  grid-column: 7 / 12;
  grid-row: 2 / 3;
  color: var(blue);
  position: relative;

}

.grid-item3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
}

.grid-item4 {
  grid-column: 1 / 4;
  grid-row: 3 / 5;
  color: var(--blue);
  position: relative;

}

.grid-item4 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
}

.grid-item5 {
  grid-column: 4 / 7;
  grid-row: 3 / 5;
  color: var(--blue);
  position: relative;

}

.grid-item5 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
}

.grid-item1 .text,
.grid-item2 .text,
.grid-item3 .text,
.grid-item4 .text,
.grid-item5 .text {
  opacity: 100;
  background-position: left;
  background-color: transparent;
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: whitesmoke;
  font-size: 1vw;
  
}

a:link
 {
   color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited
   {color: red;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration:underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

.hero .background img {
  display: flex;
  height: 100%;
  width: 100%;


}

.hero .background {
  opacity: 100;
  background-position: right;
  background-color: var(--light-blue);
  position: absolute;
  bottom: 100%;
  color: var(--dark-blue);
  font-size: 40px;

}

.subheader {
  background-color:rgb(46, 6, 46);
  display: grid;

}

.subheader-content {
  display: flexbox;
  position: right;

}

.text {
  color: white;
}

.flex-row {
  float: right;
  width: 75%;
  font-size: 2vw;

}


@media (max-width:600px) {}

@media (min-width:601px) {}